--- 

- name: activar transparent masquerade
  shell: modprobe br_netfilter | firewall-cmd --add-masquerade --permanent | firewall-cmd --reload

- name: copiar fichero k8s.conf 
  ansible.builtin.copy:
   src: files/k8s.conf
   dest: /etc/sysctl.d/k8s.conf
   mode: u=rw,g=r,o=r

- name: aplicar cambios
  shell: sysctl --system

- name: disable swap
  shell: swapoff -a | sed -i '/ swap / s/^\(.*\)$/#\1/g' /etc/fstab

